# TODO[Setup] Before vault integration, from `data` directory run `cp env.template env.dev` and fill all the exports

# ----------------------------------------------------------------------------
# DB connection properties
# ----------------------------------------------------------------------------
# export JDBC_PROTOCOL=jdbc:mysql
# export DB_HOST=${JDBC_PROTOCOL}://localhost:3306
# export DB_USERNAME=<>
# export DB_PASSWORD=<>
