# TODO[Setup] Before vault integration, from `data` directory run `cp env.template env.dev` and fill all the exports

# ----------------------------------------------------------------------------
# DB connection properties
# ----------------------------------------------------------------------------
# export DATA_SERVICE_HOST=<>
# export DATA_SERVICE_PORT=<>
# export REDIS_HOST=<>
# export REDIS_PORT=<>
# export SERVER_PORT=<>
